avatarSize = 128px
avatarZoom = 0.70

md-list-item
  padding 0 16px 0 0 !important

  app-sidenav-item
    width 100%

    button
      width 100%
      text-align left !important

      .avatar
        position relative
        width avatarSize
        height avatarSize
        border 1px solid #444444
        border-radius 50%
        display inline-block
        overflow hidden
        margin 0
        vertical-align middle
        zoom avatarZoom
        transform translateZ(avatarZoom)
        transform scale(avatarZoom)
