.idea/
!.idea/vcs.xml
!.idea/misc.xml
!.idea/angularjs.iml
!.idea/libraries/*
!.idea/jsLibraryMappings.xml
!.idea/watcherTasks.xml
bower_components/
npm-debug.log*
node_modules/
.DS_Store
dist/
.tmp
temp
tmp
