<!-- http://semantic-ui.com/examples/homepage.html -->
<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>

      <app-links class="item"></app-links>

      <div class="right item">
        <a class="ui inverted button" ng-href="/login">Log in</a>
        <a class="ui inverted button" ng-href="/signup">Sign Up</a>
      </div>
    </div>
  </div>

</div>
