@import "variable.styl"

app-home .ui.page.container
  padding 6em 0

app-home .icon
  color lightgray
  display inline-block
  font-size 1em
  transition all 0.2s ease

app-home .icon:hover
  color gray
  font-size 1.5em
