@import 'variable.styl'

app-home .ui.page.container
  padding 6em 0

app-home .icon
  color icon-color-from
  display inline-block
  font-size font-size-from
  transition all animation-delay ease

app-home .icon:hover
  color icon-color-to
  font-size font-size-to
