avatarSize = 128px
prefix = '../node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.'

@font-face
  font-family Roboto
  src url(prefix + 'eot')
  src url(prefix + 'eot?#iefix') format('embedded-opentype'), url(prefix + 'woff') format('woff'), url(prefix + 'woff2') format('woff2'), url(prefix + 'ttf') format('truetype')
  font-style normal
  font-weight normal

html, body
  font-family Roboto
  font-size 14px
  height 100%
  margin 0
  padding 0

md-toolbar h3
  margin auto
  font-weight 500

md-list-item > button
  width 100%
  text-align left !important

#content
  padding-left 40px
  padding-right 40px
  padding-top 5px

.avatar
  position relative
  width avatarSize
  height avatarSize
  border 1px solid #ddd
  border-radius 50%
  display inline-block
  overflow hidden
  margin 0
  vertical-align middle
  zoom 0.07
  transform translateZ(0) s
  transform scale(0.07)
