prefix = '../node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.'

@font-face
  font-family Roboto
  src url(prefix + 'eot')
  src url(prefix + 'eot?#iefix') format('embedded-opentype'), url(prefix + 'woff') format('woff'), url(prefix + 'woff2') format('woff2'), url(prefix + 'ttf') format('truetype')
  font-style normal
  font-weight normal

html, body
  font-family Roboto
  font-size 14px
  height 100%
  margin 0
  padding 0

app
  padding-left 40px
  padding-right 40px
  padding-top 5px
